<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thông tin điện thoại</h1>
    <div class="product" id="product">
        <h2 id="name"></h2>
        <p id="price">Price</p>
        <p id="description">Description: </p>
        <p id="category">Category: </p>
        <p id="brand">Brand: </p>
        <p id="pre_discount">Pre discount: </p>
        <p id="discount_percent">Discount percent: </p>
        <!-- <img src="data:image/jpeg;base64, ${phone.image}" alt="${phone.name}"/> -->
        <p id="color">Color: </p>
    </div>
</body>
<script type="text/javascript" src="script.js"></script>
</html>